

<div fxFlexLayout="row" fxLayoutGap="20px">
  <fs-file (select)="select($event)" [multiple]="true">
    <button mat-raised-button color="primary">Select File</button>
  </fs-file>

  <fs-file (select)="select($event,true)" [multiple]="true">
    <button mat-raised-button color="primary">Select File (With Error)</button>
  </fs-file>

  <fs-file (select)="select($event,false, 60)" [multiple]="true">
    <button mat-raised-button color="primary">Select File (Click to cancel upload)</button>
  </fs-file>

  <fs-file (select)="select($event, false, 30)" [multiple]="true">
    <button mat-raised-button color="primary">Select File (Server process for 30 seconds)</button>
  </fs-file>  
</div>

<p>
  <fs-file-previews [files]="files">
    <ng-template fs-file-preview-action placement="top-right" action="remove" tooltip="Remove">
      <mat-icon>close</mat-icon>
    </ng-template>
  </fs-file-previews>
</p>