:host {

  .name {
    display: flex;
    flex: 1;
    padding-right: 10px;
  }

  .close-seconds {
    font-size: 12px;
  }

  .close {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: -7px;

    .mat-progress-spinner,
    button {
      position: absolute;
      top: 0;
    }

    .cancel {
      opacity: 0;
      mat-icon {
        background: #fff;
        border-radius: 50%;
      }

      &:hover {
        opacity: 1;
      }
    }

  }

  .message {
    display: none;
    color: #D93025;
    font-size: smaller;
    padding-right: 10px;
  }

  .icon {
    margin-right: 10px;
    color: #555;
  }

  .mat-dialog-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      flex: 1;

      .status {
        font-size: 12px;
        line-height: 10px;

        span + span:before {
          content: ', ';
        }
      }
    }
  }

  .file {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;

    .cancel {
      display: none;
      color: inherit;
    }

    &:hover {
      &.failed,
      &.cancelled {
        .message {
          display: flex;
          flex: 1;
        }
        .icon, .name {
          display: none;
        }
      }
    }

    .uploaded {
      color: #0F9D58;
    }

    .failed {
      color: #D93025;
    }

    .status:hover {
      .cancel {
        display: inline;
      }

      .uploading, .processing {
        display: none;
      }
    }
  }
}