<div class="container">
  <div class="status-heading">
    <div class="title">
      <h2>
        Upload Status
      </h2>
      <div class="status">
        <span class="counts">
          @if (uploading || processing || queued) {
            @if (uploading + queued) {
              <span>
                {{ uploading + queued }} Uploading
              </span>
            }
            @if (processing) {
              <span>
                {{ processing }} Processing
              </span>
            }
          } @else {
            @if (uploaded) {
              <span>
                {{ uploaded }} Successfully Uploaded
              </span>
            }
            @if (failed) {
              <span>
                {{ failed }} Failed
              </span>
            }
            @if (cancelled) {
              <span>
                {{ cancelled }} Cancelled
              </span>
            }
          }
        </span>
        @if (remainingSeconds) {
          <span
            class="remaining"
            >
            , {{ remainingSeconds | fsDateDuration: { minutes: true, seconds: true} }} remaining
          </span>
        }
      </div>
    </div>
    <div class="close">
      @if (closingSeconds > 0) {
        <span
          class="close-seconds">
          Closing in {{ closingSeconds }}
        </span>
      }
      <button
        mat-icon-button
        class="clear"
        [mat-dialog-close]="true"
        type="button"
        tabindex="-1">
        <mat-icon>
          clear
        </mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="files">
    @for (file of files; track file) {
      <div
        class="file"
        [ngClass]="file.status">
        <mat-icon
          class="icon"
          [ngClass]="'file-' + file.fileType">
          {{ file.icon }}
        </mat-icon>
        <div class="name">
          {{ file.file.name }}
        </div>
        <span class="message">
          {{ file.message }}
        </span>
        <div class="file-status">
          @if (file.status===UploadFileStatus.Uploading) {
            <mat-progress-spinner
              [mode]="file.percent ? 'determinate' : 'indeterminate'"
              [value]="file.percent"
              diameter="25">
            </mat-progress-spinner>
          }
          @if (file.status===UploadFileStatus.Queued) {
            <mat-progress-spinner
              mode="indeterminate"
              diameter="25">
            </mat-progress-spinner>
          }
          @if (file.status===UploadFileStatus.Processing) {
            <mat-progress-spinner
              mode="determinate"
              [value]="100"
              diameter="25">
            </mat-progress-spinner>
          }
          @if (file.status===UploadFileStatus.Uploaded) {
            <mat-icon
              class="uploaded">
              check_circle
            </mat-icon>
          }
          @if (file.status===UploadFileStatus.Failed) {
            <mat-icon
              class="failed">
              error
            </mat-icon>
          }
          @if (file.status===UploadFileStatus.Cancelled) {
            <mat-icon
              class="cancelled">
              report
            </mat-icon>
          }
          @if (file.status===UploadFileStatus.Uploading || file.status===UploadFileStatus.Processing) {
            <a
              href="javascript:;"
              (click)="cancel(file)"
              class="cancel">
              <mat-icon>
                cancel
              </mat-icon>
            </a>
          }
        </div>
      </div>
    }
  </div>
</mat-dialog-content>